# Иссследование надежности заёмщиков

## Описание проекта

Заказчик — кредитный отдел банка. 
Цель - нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

## Описание данных

   * children — количество детей в семье
   * days_employed — общий трудовой стаж в днях
   * dob_years — возраст клиента в годах
   * education — уровень образования клиента
   * education_id — идентификатор уровня образования
   * family_status — семейное положение
   * family_status_id — идентификатор семейного положения
   * gender — пол клиента
   * income_type — тип занятости
   * debt — имел ли задолженность по возврату кредитов
   * total_income — ежемесячный доход
   * purpose — цель получения кредита

 Ход исследования содержит следующие шаги: 
 
1) Открытие таблицы  и изучение общей информацию о данных
2) Предобработка данных
3) Исследование данных и ответы на вопросы 
4) Общий вывод

## 1 Открытие таблицы и изучение общей информации о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

In [2]:
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

##  2 Предобработка данных

 ## 2.1 Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

## 2.2  Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получаются аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

## 2.3 Удаление пропусков(продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

## 2.4  Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
data['total_income'] = data['total_income'].astype(int)

## 2.5 Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [15]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

## 2.6 Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## 2.7 Шаг 3. Исследование данных и ответы на вопросы

### 2.7.1  3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:

data.groupby("children")["debt"].agg(["count","sum", "mean"])

          count   sum      mean
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

 Исходя из таблицы, можно сделать вывод, что семьи без детей охотнее всех выплачивают кредиты, могу предположить, что это связано с отсутствием больших ежемесячных затрат. Процент просрочки кредита составляет у данной категории 7,5 %. Далее на втором месте семьи с 3 детьми, думаю, они ответсвенно относятся к своим обязанностям по кредиту, так как в дальнейшем им понадобится хорошая кредитная история, для того чтобы брать новые кредиты на улучшение жилищных условий. Семьи с 1,2 и 4 детьми расположились примерно рядом.
 1) 7,5 % - бездетные семьи
 2) 8,2 % - семьи с 3 детьми 
 3) 9,2 % - семьи с 1 ребенком
 4) 9,4 % - семьи с 2 детьми 
 5) 9,8 % - семьи с 4 детьми

### 2.7.2  3.2  Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [24]:
data.groupby("family_status")["debt"].agg(["count", "sum","mean"])

                       count  sum      mean
family_status
Не женат / не замужем   2796  273  0.097639
в разводе               1189   84  0.070648
вдовец / вдова           951   63  0.066246
гражданский брак        4134  385  0.093130
женат / замужем        12261  927  0.075606

   Вывод: 
   
   По сводной таблице, можно сделать вывод, что ответственнее всех к выплату кредита относятся вдовцы/вдовы. Процент просроченных кредитов у данной категории составляет 6,6 % и является минимальным.  Далее на втором месте с показателем 7,1 % расположилась категория людей, состоящих в разводе. На третьем месте женатые/замужние люди с 7,5 % просроченных кредитов. Далее на 4 месте категория людей, состоящих в гражданском браке (9,2 %). Максимальный процент просроченных кредитов наблюдается у неженатых или незамужних людей и составляет 9,7 %.

### 2.7.3  3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [25]:
data.groupby("total_income_category")["debt"].agg(["count", "sum","mean"])

                       count   sum      mean
total_income_category
A                         25     2  0.080000
B                       5014   354  0.070602
C                      15921  1353  0.084982
D                        349    21  0.060172
E                         22     2  0.090909

Вывод: 

По данным таблицы видно что более всего ответсвенно подходят к вопросу выплаты кредита как ни странно заемщики из категории "D" с уровнем дохода от 30001 до 50000 р, далее заемщики с доходом от 200001 до 1000000 р.

Больше всего запаздывают с выплатой кредита заемщики из категории E c самым низким доходом( менее 30000 р) Прямой зависимости между уровнем дохода и платежеспособностью кредита нельзя определить, так как самые платежеспособные заемщики не являются самыми богатыми. Однако, можно с уверенностью сказать, что наименее способной категорией к выплату кредита являются заемщики с самым низким уровнем дохода.

### 2.7.4  3.4   Как разные цели кредита влияют на его возврат в срок?

In [26]:
data.groupby("purpose_category")["debt"].agg(["count", "sum","mean"])

                          count  sum      mean
purpose_category
операции с автомобилем     4279  400  0.093480
операции с недвижимостью  10751  780  0.072551
получение образования      3988  369  0.092528
проведение свадьбы         2313  183  0.079118

 Вывод:  
 
 Исходя из таблицы видно, что самыми беспроблемными заемщиками для банка являются люди, выполняющие операции с недвижимостью. Они меньше всего задерживают выплаты по кредиту с показателем 7,2 %. На втором месте по количеству просроченных кредитов заемщики, бравших кредит на проведение свадьбы с показателем 7,9 %.  Интересно, что доля должников среди заемщиков, берущих кредит на содержание автомобиля и на получение образования  равные: 9,3 %.

### 2.7.5 3.5 Приведите возможные причины появления пропусков в исходных данных.

 Возможной причиной появления пропусков в исходных данных является сокрытие информации. Так, например, в столбцах "total_income" и "days_employed" человек не захотел предоставлять информацию, поэтому возникли пропуски. Также одной из причин  может выступать наличие технических ошибок.

### 2.7.6  3.6  Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

 Могу предположить, что медиана наиболее устойчивая функция, так как на нее не влияют случайные выбросы. Так как в ряду величин могут быть как слишком большие значения, так и маленькие, в данном случае среднее арифметическое не подойдет, так как она искажает данные. Медиана же дает более целостную и правдоподобную картину данных, если мы имеем ввиду количественные переменные.

### 2.8  Шаг 4: Общий вывод

 Проведенное исследование надежности заемщиков завершено. Можно сформулировать общие выводы:

1) Поставленные цели исследования были успешно реализованы 

2) Определена прямая зависимость между наличием детей и платежеспособностью по кредиту. Таким образом, бездетные семьи лучше других категорий семей выполняют обязательства по кредиту и совершают платежи.
3) Семейный статус также влияет на выплату кредита. Лучше всего с выплатой кредита справляются одинокие люди(вдовы либо вдовцы).
4) Нет прямой зависимости между уровнем дохода и возвратом кредита в срок. Как было отмечено выше, самым беспроблемным заемщиком для банка является категория людей с уровнем дохода от 30001 до 50000.
5) Заемщики, берущие кредит на приобретение жилья и операции с недвижимостью, наиболее дисциплинированно подходят к выплатам кредита. Таким образом, идеальный кандидат для банка при рассмотрении заявок на выдачу кредита - это заемщики, которые:

    не имеют детей;
    являющиеся вдовами либо вдовцами;
    с уровнем дохода от 30001 до 50000 рублей;
    берущие ипотечный кредит ( на приобретение жилья или операции с недвижимостью)